<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lateetud.NServiceBus.Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Persistence.Subscriptions.CacheFor" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <Lateetud.NServiceBus.Subscriber.Properties.Settings>
      <setting name="Lateetud_NServiceBus_Subscriber_com_renovo_test_aptest_RequestAssignment" serializeAs="String">
        <value>https://aptest.test.renovo.com/WS/RequestAssignment.asmx</value>
      </setting>
    </Lateetud.NServiceBus.Subscriber.Properties.Settings>
  </applicationSettings>
</configuration>